body { 
  font-family: arial, sans-serif;
}

td { 
  vertical-align: top;
}

table.accDetails { 
  font-size: 80%;
  display: none;
  background-color: #CACAFF;
  margin-left: 10px;
  width: 85%;
  table-layout: automatic;
  border: 2px solid #00004F;
}

table#compareTable { 
  width: 100%;
  border-collapse: collapse;
}

td.compareColumn { 
  width: 50%;
  border: solid 1px black;
}

#compareTable th { 
  text-align: left;
}

td.fieldname { 
  font-weight: bold;
}

td.fieldvalue { 
  width: 100%;
}

.revInserted { 
  color: #090;
}

.revAttribUpdate { 
  color: #009;
}

.revDeleted { 
  color: #900;
}

.accDetails .revUpdated { 
  background-color: #66f;
}

.accDetails .revDeleted { 
  background-color: #f66;
}

.accDetails .revInserted { 
  background-color: #6f6;
}

/*
.revMoved { 
  background-color: #fff;
}
*/

.nodeTitle { 
  margin-left: 20px;
  font-weight: bold;
  text-decoration: none;
  width: 80%;
  display: block;
}

ul { 
  padding-left: 0;
  list-style: none;
}

li { 
  margin-left: 16px;
  background-repeat: no-repeat;
  background-position: top left;
  background-image: url('last.png');
}

li.middle>div,li.first>div { 
  background-image: url('spine.png');
  background-repeat: repeat-y;
  background-position: 0px 8px;
}

#legend {
  text-align: center;
  font-weight: bold;
}

.focus .highlightedNode { 
  background-color: #aaa;
}

.highlightedNode { 
  background-color: #eee;
}