table.accDetails { 
  display: none;
  background-color: #CACAFF;
}

#compareTable { 
  border: 1px solid black;
  border-collapse: separated;
  margin: auto;
}

#compareTable td { 
  width: 400px;
}

.fieldname { 
  font-weight: bold;
}
a.accessible:link { 
  color: black;
  text-decoration: none;
}

li.revUpdated { 
  background-color: #aaf;
}

.revUpdated { 
  background-color: #66f;
}

li.revDeleted { 
  background-color: #faa;
}

.revDeleted { 
  background-color: #f66;
}

li.revInserted { 
  background-color: #bfb;
}

.revInserted { 
  background-color: #6f6;
}

.revMoved { 
  background-color: #fff;
}

/*
span.revUpdated { 
  color: #000085;
}

span.revDeleted { 
  color: #AE0000;
}

span.revInserted { 
  color: #009305;
}

span.revMoved { 
  color: #FF8200;
}
*/
ul { 
  padding-left: 1em;
  list-style: none;
}

.accessiblerole{ 
  font-style: italic;
}

a.accessible:visited { 
  color: black;
  text-decoration: none;
}
a.accessible:hover { 
  color: #6D6D6D;
  text-decoration: underline;
}