body { 
  font-family: arial, sans-serif;
}

td { 
  vertical-align: top;
}

table.accDetails { 
  font-size: 80%;
  display: none;
  background-color: #CACAFF;
  margin-left: 10px;
  width: 85%;
  border-collapse: collapse;
}

table.accDetails td { 
  border: 1px solid black;
}

#compareTable { 
  border-collapse: separated;
}

#compareTable td { 
  width: 400px;
}

.fieldname { 
  font-weight: bold;
}

.revInserted .nodeTitle { 
  color: #090;
}

.revAttribUpdate .nodeTitle { 
  color: #009;
}

.revDeleted .nodeTitle { 
  color: #900;
}

.accDetails .revUpdated { 
  background-color: #66f;
}

.accDetails .revDeleted { 
  background-color: #f66;
}

.accDetails .revInserted { 
  background-color: #6f6;
}

/*
.revMoved { 
  background-color: #fff;
}
*/

.nodeTitle { 
  margin-left: 20px;
  font-weight: bold;
}

ul { 
  padding-left: 0;
  list-style: none;
}

li { 
  margin-left: 16px;
  background-repeat: no-repeat;
  background-position: top left;
  background-image: url('last.png');
}

li.middle>div,li.first>div { 
  background-image: url('spine.png');
  background-repeat: repeat-y;
  background-position: 0px 8px;
}

